In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving pseudo_facebook.csv to pseudo_facebook.csv

In [ ]:
data=pd.read_csv('pseudo_facebook.csv')
data.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [ ]:
data.shape

(99003, 15)

In [ ]:
subset1=data.head(1000)

In [ ]:
subset1.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [ ]:
data.columns

Index(['userid', 'age', 'dob_day', 'dob_year', 'dob_month', 'gender', 'tenure',
       'friend_count', 'friendships_initiated', 'likes', 'likes_received',
       'mobile_likes', 'mobile_likes_received', 'www_likes',
       'www_likes_received'],
      dtype='object')

In [ ]:
subset2=data[['userid', 'age', 'dob_day', 'dob_year', 'dob_month', 'gender', 'tenure',
       'friend_count', 'friendships_initiated', 'likes']]
subset3=data[['userid','mobile_likes', 'mobile_likes_received', 'www_likes',
       'www_likes_received']]

In [ ]:
subset4=data[data['likes']>10]

In [ ]:
subset4.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
1914,1178042,25,15,1988,7,female,24.0,0,0,11,0,0,0,11,0
1915,1988428,55,12,1958,9,female,772.0,0,0,11,0,0,0,11,0
1916,1141171,14,30,1999,3,male,256.0,0,0,11,4,0,2,11,2
1917,1532610,33,14,1980,8,female,53.0,0,0,11,3,11,3,0,0
1918,2184382,20,19,1993,11,female,0.0,0,0,12,54,0,0,12,54

In [ ]:
#merging data
merged_data=pd.merge(subset2,subset3,on='userid')

In [ ]:
merged_data.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0

In [ ]:
#sorting data
data.sort_values(['likes'] ,ascending=False).head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
97007,1684195,23,14,1990,3,male,529.0,1056,665,25111,3447,25111,3111,0,336
93064,1656477,68,12,1945,3,male,550.0,584,347,21652,10220,21652,8584,0,1636
86119,1489463,25,5,1988,1,female,131.0,351,88,16732,4913,16732,4679,0,234
98929,1429178,18,22,1995,9,female,888.0,4733,519,16583,16743,1718,10104,14865,6639
96999,1267229,24,14,1989,9,female,484.0,1171,695,14799,22513,12934,17955,1865,4558

In [ ]:
#Transpose
data.T

,0,1,2,3,4,5,6,7,8,9,...,98993,98994,98995,98996,98997,98998,98999,99000,99001,99002
userid,2094382,1192601,2083884,1203168,1733186,1524765,1136133,1680361,1365174,1712567,...,1654565,2063006,1132164,1668695,1458985,1268299,1256153,1195943,1468023,1397896
age,14,14,14,14,14,14,13,13,13,13,...,19,20,20,24,28,68,18,15,23,39
dob_day,19,2,16,25,4,1,14,4,1,2,...,15,4,9,25,14,4,12,10,11,15
dob_year,1999,1999,1999,1999,1999,1999,2000,2000,2000,2000,...,1994,1993,1993,1989,1985,1945,1995,1998,1990,1974
dob_month,11,11,11,12,12,12,1,1,1,2,...,8,1,10,4,12,4,3,5,4,5
gender,male,female,male,female,male,male,male,female,male,male,...,male,female,female,female,female,female,female,female,female,female
tenure,266.0,6.0,13.0,93.0,82.0,15.0,12.0,0.0,81.0,171.0,...,394.0,402.0,699.0,182.0,290.0,541.0,21.0,111.0,416.0,397.0
friend_count,0,0,0,0,0,0,0,0,0,0,...,4538,1988,3611,2938,2218,2118,1968,2002,2560,2049
friendships_initiated,0,0,0,0,0,0,0,0,0,0,...,4144,332,973,1272,1618,341,1720,1524,185,768
likes,0,0,0,0,0,0,0,0,0,0,...,4501,7351,4507,6018,4626,3996,4401,11959,4506,9410
likes_received,0,0,0,0,0,0,0,0,0,0,...,15088,106025,7768,17765,10268,18089,13412,12554,6516,12443
mobile_likes,0,0,0,0,0,0,0,0,0,0,...,4435,7248,4414,5843,4290,3505,4399,11959,4506,9410
mobile_likes_received,0,0,0,0,0,0,0,0,0,0,...,5961,73333,6909,11708,4250,11887,10592,11462,5760,9530
www_likes,0,0,0,0,0,0,0,0,0,0,...,66,103,93,175,336,491,2,0,0,0
www_likes_received,0,0,0,0,0,0,0,0,0,0,...,9127,32692,859,6057,6018,6202,2820,1092,756,2913

In [ ]:
#shape and reshape
data.shape

(99003, 15)

In [ ]:
reshaped_df = data.pivot(index='userid', columns='age', values='likes')
reshaped_df

age,13,14,15,16,17,18,19,20,21,22,...,104,105,106,107,108,109,110,111,112,113
userid,,,,,,,,,,,,,,,,,,,,,
1000008,NaN,431.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1000038,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000059,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2193485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2193499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2193522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2193538,NaN,NaN,NaN,NaN,NaN,248.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2193542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN